@import url('https://fonts.googleapis.com/css?family=Kurale|Raleway&display=swap');

*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Kurale|Raleway&display=swap');

header{
    background-image: url(image/head.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
   
}

.container-header{
    background-color: rgba(0, 0, 0, 0.8);
}

header h1{
    position: absolute;
    top: 10.5rem;
    left: 25rem;
    font-size: 4.5rem;
    font-family: 'Kurale', serif;
    color: lavenderblush;
    font-weight: 900;
    letter-spacing: 0.5rem;
}

header h2{
    position: absolute;
    top: 10.5rem;
    left: 21.5rem;
    font-size: 4.5rem;
    font-family: 'Kurale', serif;
    color: lavenderblush;
    line-height: 4;
    letter-spacing: 0.5rem;
}


.navbtn ul{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    float: right;
    
}

.navbtn a{
    color: white;
    text-decoration: none;
    list-style: none;
    padding-top: 1rem;
    margin-right: 1rem;
    margin-left: 3rem;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

.navbtn a:hover{
    color: darkslategray;
    transition: 1s;
}

/* MENU */

.frappe{
    background-color: lightcyan;
    height: 50vh;
}



.frappe-box img{
    height: 25rem;
}




















@media screen and (max-width: 500px){
    header{
        background-position: center;
        background-size: cover;
        position: relative;
    }
    header h1{
     position: absolute;
     left: 4rem;
     top: 12rem;
     font-size: 2.5rem;
    }

    header h2{
     position: absolute;
     left: 6rem;
     top: 13.5rem;
     font-size: 1.5rem;
    }

    .navbtn a{
        
        font-size: 1rem;
        margin: auto;
    }
}